<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Department Scheduler</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
        {% csrf_token %}
        <script src="{% static "js/app.js" %}" defer></script>
    </head>
    <body>
        <div id="main"></div>
    </body>
</html>
